<div class="card" [ngClass]="{'customCard':addButton,'customCardVW':!addButton}">
    <img class="card-img-top" src="{{character.sprite}}" alt="Hero image">
    <div class="card-body">
        <h5 class="card-title text-center">{{character.characterName}}</h5>
        <div *ngFor="let attack of character.attacks">
            <p>{{attack.attackName}}</p>
        </div>
        <button *ngIf="addButton" class="btn btn-primary" (click)="addCharacterClicked()">Ajouter</button>
    </div>
</div>