<div class="d-flex flex-column">
    <h1 class="text-center">Personnages</h1>
    <div class="w-100 overflow-auto">
        <nav class="d-flex justify-content-center">
            <ul class="pagination pagination-sm">
              <li *ngFor="let index of indexPages" class="page-item"><a class="page-link" (click)="pageClicked(index)">{{index+1}}</a></li>
            </ul>
          </nav>
        <div class="d-flex flex-wrap" style="justify-content: center">
            <div *ngFor="let character of characters">
                <app-character-admin [character]="character" (onUpdate)="charactersUpdated()"></app-character-admin>
            </div>
            <app-character-add-admin [hidden]="!charactersLoaded" (onUpdate)="charactersUpdated()"></app-character-add-admin>
        </div>
    </div>
</div>